body {
    padding: 0;
    margin: 0;
}
body, button {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", 
    "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 16px;
}
button {
    background: #ace;
    border: 0;
    padding: 2px;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 3px;
    box-shadow: 0px 1px 2px #888;
    cursor: pointer;
    outline: 0;
}
button:active, .active-button {
    outline: 0;
    background: #eca;
}
a {
    color: #8ad;
    cursor: pointer;
}
.uibox {
    background: rgba(40,40,40,0.9);
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0px 1px 4px #111;
    color: #eee;
}
.container {
    position: relative;
    width: 100%;
    height: 100%;
    user-select: none;
}
.container .cover {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    z-index: 105;
}
.container .popup {
    position: absolute; 
    background-color: rgba(40,40,40,0.9);
    border: 1px solid #eee;
    font-family: helvetica;
    font-size: 13px;
    padding: 2px;
    z-index: 110;
}
.container .rect {
    position: absolute; 
    background-color: red;
    z-index: 110;
}
.container .loading {
    padding: 10px;
    font-size: 16px;
    position: absolute;
    z-index: 120;
    text-align: center;
    width: 200px;
    left: 50%;
    top: 40%;
    margin-left: -100px;
}
.container .server-popup {
    padding: 10px;
    font-size: 16px;
    position: absolute;
    z-index: 120;
    text-align: center;
    width: 400px;
    left: 50%;
    top: 40%;
    margin-left: -200px;
}
.container .server-popup input {
    font-size: 16px;
}
.container #watermodel {
    position: absolute;
    top: 0; left: 0;
    z-index: 60;
    pointer-events: none
}
.container #elevation {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    z-index: 50;
}
.container #quad {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    z-index: 50;
}
.container #slope {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    z-index: 50;
}
.container .editor {
    position: absolute;
    top: 10; right: 280;
    width: 400px;
    z-index: 120;
}
.container .editor .header {
    margin-bottom: 10px;
}
.container .editor .header button {
    font-size: 14px;
}
.container .editor .section {
    position: relative;
    display: inline-block;
    width: 50%;
    vertical-align: top;
}
.container .editor .section h2 {
    font-size: 14px;
    font-weight: normal;
    margin: 0;
    margin-bottom: 5px;
}
.container .editor .section select {
    font-size: 16px;
}
.container .editor .section .brush {
    display: inline-block;
    margin: 4px;
    border: 1px solid #ccc;
    cursor: pointer;
}
.container .editor .section .selected {
    border: 4px solid red;
    margin: 1;
}
.container .layers {
    position: absolute;
    top: 10; right: 10;
    min-width: 250px;
    z-index: 120;
}
.container .layers label {
    cursor: pointer;
}
.container #map {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
}
.container .layers h3 {
    margin: 5 0 5 0;
    font-weight: normal;
    font-size: 18px;
    text-align: center;
}
.container .layers .simulation {
    text-align: center;
    margin-bottom: 5px;
}
hr {
    border: 0;
    margin-top: 8px;
    margin-bottom: 8px;
    border-top: 1px solid #666;
}
.container .layers .layer-container {
    min-height: 26px;
}

.container .layers .layer-container .edit-button {
    float: right;
    min-width: 35px;
}

.container .layers .layer-container .action-buttons {
    margin: 0;
    padding: 0;
    margin-left: 20px;
    display: inline-block;
    margin-bottom: 5px;
}

.container .layers .layer-container .action-buttons button {
    font-size: 12px;
}

.container .transfer-function-test {
    position: absolute;
    top: 10px;
    right: 230px;
    width: 320px;
    height: 320px;
    z-index: 100;
}

.container .transfer-function-test #transfer-function-svg {
    width: 100%;
    height: 100%;
}
