body {
    padding: 0;
    margin: 0;
}
body, button {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", 
    "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 16px;
}
button {
    background: #ace;
    border: 0;
    padding: 2px;
    border-radius: 3px;
    box-shadow: 0px 1px 2px #888;
    cursor: pointer;
    outline: 0;
}
button:active {
    outline: 0;
    background: #eca;
}
a {
    color: #58b;
    cursor: pointer;
}
.container {
    position: relative;
    width: 100%;
    height: 100%;
    user-select: none;
}
.container .popup {
    position: absolute; 
    background-color: rgba(255,255,255,0.85);
    border: 1px solid #eee;
    font-family: helvetica;
    font-size: 13px;
    padding: 2px;
    z-index: 110;
}
.container .rect {
    position: absolute; 
    background-color: red;
    z-index: 110;
}
.container #loading {
    padding: 10px;
    font-size: 16px;
    position: absolute;
    z-index: 120;
    background: white;
    border-radius: 5px;
    box-shadow: 0px 1px 4px #666;
    text-align: center;
    width: 200px;
    left: 50%;
    top: 40%;
    margin-left: -100px;
}
.container #watermodel {
    position: absolute;
    top: 0; left: 0;
    z-index: 60;
    pointer-events: none
}
.container #elevation {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    z-index: 50;
}
.container #quad {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    z-index: 50;
}
.container .layers {
    position: absolute;
    top: 10; right: 10;
    background: rgba(255,255,255,0.8);
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0px 1px 4px #666;
    min-width: 200px;
    z-index: 100;
}
.container .layers label {
    cursor: pointer;
}
.container #map {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
}
.container .layers h3 {
    margin: 5 0 5 0;
    font-weight: normal;
    font-size: 18px;
    text-align: center;
}
.container .layers .simulation {
    text-align: center;
    margin-bottom: 5px;
}
.container .layers hr {
    border: 0;
    margin-top: 8px;
    margin-bottom: 8px;
    border-top: 1px solid #bbb;
}
.container .layers .layer-container {
    height: 26px;
}

.container .layers .layer-container .edit-button {
    float: right;
    width: 35px;
}

.container .transfer-function-test {
    position: absolute;
    top: 10px;
    right: 230px;
    background: rgba(255,255,255,0.8);
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0px 1px 4px #666;
    width: 320px;
    height: 320px;
    z-index: 100;
}

.container .transfer-function-test #transfer-function-svg {
    width: 100%;
    height: 100%;
}
