body {
    padding: 0;
    margin: 0;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", 
    "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 14px;
}
.container {
    position: relative;
    width: 100%;
    height: 100%;
    user-select: none;
}
.container .layers {
    position: absolute;
    top: 10; right: 10;
    background: white;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0px 1px 4px #666;
    min-width: 150px;
}
.container .layers label {
    cursor: pointer;
}
.container #map {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
}
.container .layers .simulation {
    text-align: center;
}
.container .layers hr {
    border: 0;
    margin-top: 5px;
    margin-bottom: 4px;
    border-top: 1px solid #bbb;
}
.container .layers .simulation button {
    margin: 4px;
    background: #eee;
    border: 0;
    padding: 5px;
    border-radius: 3px;
    font-size: 12px;
    box-shadow: 0px 1px 2px #888;
    cursor: pointer;
    outline: 0;
}

.container .layers .simulation button:active {
    outline: 0;
    background: #ddd;
}
