body {
    padding: 0;
    margin: 0;
    background: #333;
}
.splash .title {
    z-index: 0;
    position: absolute;
    width: 400px;
    top: 40%;
    left: 50%;
    margin-left: -200px;
    font-size: 60px;
    color: #eee;
    text-align: center;
}
.splash .subtitle {
    z-index: 0;
    position: absolute;
    width: 400px;
    top: 60%;
    left: 50%;
    margin-left: -200px;
    font-size: 14px;
    color: #eee;
    text-align: center;
    background: #333;
}
body, button {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light",
    "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 16px;
}
button {
    background: #ace;
    border: 0;
    padding: 2px;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 2px;
    box-shadow: 0px 1px 2px #888;
    cursor: pointer;
    outline: 0;
}
button:active, .active-button {
    outline: 0;
    background: #eca;
}
button.inline {
    margin: 0px 10px;
}
a {
    color: #8ad;
    cursor: pointer;
}
.uibox {
    background: rgba(40,40,40,0.9);
    padding: 0;
    padding-left: 5px;
    padding-right: 5px;
    /* border-radius: 5px; */
    box-shadow: 0px 1px 4px #111;
    color: #eee;
}
.container {
    position: relative;
    width: 100%;
    height: 100%;
    user-select: none;
    visibility: hidden;
}
.container .cover {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    z-index: 105;
}
.container .popup {
    position: absolute;
    background-color: rgba(40,40,40,0.9);
    border: 1px solid #eee;
    font-family: helvetica;
    font-size: 13px;
    padding: 2px;
    z-index: 110;
}
.container .rect {
    position: absolute;
    background-color: red;
    z-index: 110;
}
.container .loading {
    padding: 10px;
    font-size: 16px;
    position: absolute;
    z-index: 120;
    text-align: center;
    width: 200px;
    left: 50%;
    top: 40%;
    margin-left: -100px;
}
.container .server-popup {
    z-index: 400;
    padding: 10px;
    font-size: 16px;
    position: absolute;
    text-align: center;
    width: 400px;
    left: 50%;
    top: 40%;
    margin-left: -200px;
}
.container .server-popup input {
    font-size: 16px;
}
.container #watermodel {
    position: absolute;
    top: 0; left: 0;
    z-index: 60;
    pointer-events: none
}
.container #elevation {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    z-index: 50;
    pointer-events: none;
}
.container #quad {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    z-index: 50;
    pointer-events: none;
}
.container #slope {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    z-index: 50;
    pointer-events: none;
}
.container .editor {
    position: absolute;
    top: 10; right: 10;
    width: 400px;
    z-index: 120;
    padding-top: 5px;
    padding-bottom: 5px;
}
.container .editor .header {
    margin-bottom: 10px;
}
.container .editor .header button {
    font-size: 14px;
}
.container .editor .section {
    position: relative;
    display: inline-block;
    width: 48%;
    vertical-align: top;
}
.container .editor .section h2 {
    font-size: 14px;
    font-weight: normal;
    margin: 0;
    margin-bottom: 5px;
}
.container .editor .section select {
    font-size: 16px;
}
.container .editor .section .brush {
    display: inline-block;
    margin: 4px;
    border: 1px solid #ccc;
    cursor: pointer;
}
.container .editor .section .selected {
    border: 4px solid red;
    margin: 1;
}
.container .top-container {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    text-align: center;
    height: 0;
}
.container .top-container .layers {
    position: relative;
    min-width: 200px;
    max-width: 200px;
    margin: 0;
    z-index: 120;
    text-align: left;
    display: inline-block;
    vertical-align: top;
}
.container .top-container .home {
    position: relative;
    width: 50px;
    display: inline-block;
    cursor: pointer;
}

.container .top-container .home img {
    height: 32px;
}

.container .top-container .layers h3 {
    cursor: pointer;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.container .top-container .layers .tf-title {
    padding: 4px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-bottom: 1px solid #555;
    font-size: 16px;
    cursor: pointer;
}
.container .top-container .layers .tf-title:active {
    background: #ace;
    color: #111;
}
.container .top-container .layers .tf-title:first-child {
    padding-top: 0;
    margin-top: 0;
}
.container .top-container .layers .tf-title:last-child {
    border: none;
    margin-bottom: 4px;
}
.container .top-container .layers label {
    cursor: pointer;
}
.container #map {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
}
.container .sensor-info {
    position: absolute;
}
.container .top-container .layers h3 {
    margin: 0;
    padding: 5 0 5 0;
    font-weight: normal;
    font-size: 18px;
    text-align: center;
}
.container .top-container .layers .simulation {
    text-align: center;
    margin-bottom: 5px;
}
hr {
    border: 0;
    margin-top: 8px;
    margin-bottom: 8px;
    border-top: 1px solid #666;
}
.container .top-container .layers .layer-container {
    min-height: 26px;
}

.container .top-container .layers .layer-container .edit-button {
    float: right;
    min-width: 35px;
}

.container .top-container .layers .layer-container .action-buttons {
    margin: 0;
    padding: 0;
    margin-left: 20px;
    display: inline-block;
    margin-bottom: 5px;
}

.container .transfer-function-test {
    position: absolute;
    top: 10px;
    right: 230px;
    width: 320px;
    height: 320px;
    z-index: 100;
}

.container .play-controls {
    position: absolute;
    bottom: 10px;
    width: 280px;
    left: 50%;
    margin-left: -140px;
    background-color: rgba(70,70,70,0.3);
}

.container .play-controls img {
    width: 40px;
    cursor: pointer;
    margin: 2px;
    margin-bottom: 0;
}

.container .play-controls .time {
    float: left;
    font-size: 24px;
    width: 100px;
    padding-top: 7px;
    padding-bottom: 7px;
    text-align: center;
    margin: 0;
}

.container .play-controls .controls {
    margin-left: 10px;
    float: right;
}

.noselect {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.leaflet-popup-content {
    margin: 5;
    font-size: 14px;
}

.leaflet-popup-content button {
    font-size: 14px;
}

.leaflet-popup-content-wrapper {
    background: rgba(40,40,40,0.9);
    border-radius: 0;
    box-shadow: 0px 1px 4px #111;
    color: #eee;
}

.leaflet-popup-tip {
    background: rgba(40,40,40,0.9);
}

.loader {
    opacity: 0;
    -webkit-animation: dot 1.3s infinite;
    -webkit-animation-delay: 0.0s;
}

/* touch ui */

.swipe-sensor.right {
    display: flex;
    position: absolute;
    flex-wrap: wrap;
    align-content: center;
    right: 0px;
    top: 0px;
    bottom: 0px;
    width: 24px;
}

.menu-toggle-wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.menu-toggle {
    position: relative;
    left: 14px;
    font-size: 45px;
    color: #eee;
    margin-top: -50%;    
}

.menu-toggle.toggled {
    color: #6A9CCD;
}

.menu {
    position: absolute;
    top: 2px;
    right: 0px;
    bottom: 2px;
    display: flex;
    flex-direction: row-reverse;
}

.level-1 {
    width: 200px;
    padding: 0px 2px;
    overflow: hidden;
}

.level-2 {
    width: 200px;
    overflow: hidden;
    padding-left: 6px;
}

.level-2.ng-hide-add, .level-2.ng-hide-remove,
.level-1.ng-hide-add, .level-1.ng-hide-remove {
    transition: 0.1s ease-out width;
    display: block!important;
}

.level-1.ng-hide, .level-2.ng-hide {
    width: 0px;
}

.generic-menu-layout {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    color: #eee;
    width: 200px;
}

.generic-menu-item {
    display: block;
    width: 100%;
    background: rgba(40,40,40,0.9);
    padding: 12px 16px;
    margin: 2px 0px;
}

.main-menu-item {
    display: flex;
    align-items: center;
    background: rgba(40,40,40,0.9);
    color: #eee;
    margin: 2px;
    font-size: 18px;
    width: 100%;
}

.main-menu-item span {
    display: block;
    text-align: center;
    width: 100%;
}

.main-menu-item.toggled span {
    color: #6A9CCD;
}

#interaction-indicator {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 75px;
    height: 75px;
    border-radius: 50px;
    background: rgba(255,255,255,0.9);
}

#interaction-indicator > div {
    text-align: center;
    position: relative;
    top: 25%;
    font-size: 40px;
}

#interaction-indicator:hover > div {
    color: #6A9CCD;
}

/* rooms widget */
#rooms-widget {
    background: rgba(40,40,40,0.9);
    color: #eee;
    position: absolute;
    top: 35%;
    left: 50%;
    width: 250px;
    margin-left: -125px;
    padding: 20px;
    text-align: center;
}

@-webkit-keyframes dot {
     25% { opacity: 0; }
    100% { opacity: 1; }
}
