<html ng-app="Ecostem">
  <head>
    <title>Ecostem</title>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF8">

    <link rel="stylesheet" type="text/css" href="lib/leaflet/leaflet.css"/>
    <link rel="stylesheet" type="text/css" href="css/ecostem.css"/>
    <link rel="stylesheet" type="text/css" href="css/svg.css"/>

    <script src="https://cdn.firebase.com/js/client/1.0.2/firebase.js"></script>
    <script src="http://maps.google.com/maps/api/js?v=3&sensor=false"></script>

    <script src="lib/agentscript.js"></script>
    <script src="lib/data.js"></script>
    <script src="lib/underscore.js"></script>
    <script src="lib/jquery-1.10.2.js"></script>
    <script src="lib/jquery.event.drag-2.2/jquery.event.drag-2.2.js"></script>
    <script src="lib/leaflet/leaflet-src.js"></script>
    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular/angular-route.js"></script>
    <script src="lib/d3.js"></script>
    <script src="lib/Smooth-0.1.7.js"></script>
    <script src="lib/curveFit.js"></script>
    <script src="lib/filer.js"></script>
    <script src="lib/Gradient.js"></script>

    <script src="lib/Google.js"></script>
    <script src="lib/Leaflet.CanvasLayer/leaflet_tileloader_mixin.js"></script>
    <script src="lib/Leaflet.CanvasLayer/leaflet_canvas_layer.js"></script>

    <script src="js/Util.js"></script>

    <script src="js/DataModel.js"></script>
    <script src="js/FireSeverityModel.js"></script>
    <script src="js/ErosionModel.js"></script>
    <script src="js/WaterModel.js"></script>
    <script src="js/VegetationModel.js"></script>
    <script src="js/ElevationModel.js"></script>

    <script src="js/ModelBBox.js"></script>
    <script src="js/ModelSet.js"></script>

    <script src="js/ModelTileRenderer.js"></script>
    <script src="js/ModelTileServer.js"></script>

    <script src="js/Ecostem.js"></script>
    <script src="js/EcostemDirectives.js"></script>
    <script src="js/EcostemServices.map.js"></script>
    <script src="js/EcostemServices.elevationSampler.js"></script>
    <script src="js/StackedBars.js"></script>
    <script src="js/TransferFunction.js"></script>

  </head>
  <body>
    <div class="container" ng-controller="EcostemCtrl">
      <div class="cover" ng-show="editedLayer && editedLayer.model.dataModel.canPaint" drawing-surface></div>
      <div class="uibox loading" ng-show="elevationIsLoading">Loading elevation data...</div>
      <div class="uibox server-popup" ng-show="serverPopupIsOpen">
        Name: <input type="text" ng-model="serverLayerName"></input>
        <button ng-click="startServer()">Publish</button>
        <button ng-click="initStartServer()">Cancel</button>
      </div>
      <div id="map" map-body></div>
      <div id="elevation" ng-show="showElevation">
        <canvas id="elevationCanvas" elevation-canvas/>
      </div>
      <div id="quad" ng-show="showQuad">
        <canvas id="quadCanvas"/>
      </div>
      <div id="slope" ng-show="showSlope">
        <canvas id="slopeCanvas1"></canvas>
        <canvas id="slopeCanvas2"></canvas>
        <canvas id="slopeCanvas3"></canvas>
      </div>

      <div class="editor uibox" ng-show="editedLayer">
        <div class="header">
          Editing {{editedLayer.name}}
          <button style="float: right" ng-click="doneEditingDataLayer()">Done Editing</button>
        </div>

        <div ng-show="editedLayer.model.dataModel.canPaint">
          <hr/>
          <div class="section">
            <h2>Choose a brush:</h2>
            <div ng-repeat="b in brushSizes" 
                 ng-click="selectBrushSize(b)"
                 class="brush" ng-class="{'selected':selectedBrushSize==b}" 
                 style="width: {{b}}; height: {{b}}; background-color: {{scaleValue.color}}"></div>
          </div>
          <div class="section">
            <h2>Choose a value:</h2>
            <select ng-model="scaleValue" 
                    ng-options="v.name for v in editedLayer.model.renderer.patchRenderer.scale" 
                    ng-change="editedLayer.model.dataModel.scaleChanged(scaleValue)">
            </select>
          </div>
        </div>

        <div class="section" style="width: 100%" 
             ng-show="editedLayer.name == 'Vegetation' && scaleValue.value.vegetation != 0">
          <hr/>
          <button ng-click="drawVegetation(scaleValue.value.vegetation)">Autofill {{scaleValue.name}}</button>
          <button ng-click="clearVegetation(scaleValue.value.vegetation)">Clear {{scaleValue.name}}</button>
        </div>

        <div ng-show="editedLayer.name == 'Water Flow' || editedLayer.name == 'Erosion & Deposit'">
          <hr/>
          <div ng-repeat="(key, control) in editedLayer.model.dataModel.controls">
            <button ng-click="editedLayer.model.dataModel.show(key)" 
                    ng-class="{ 'active-button': key == editedLayer.model.dataModel.curControl }">{{ control.title }}</button>
          </div>
        </div>

        <div class="section" style="width: 100%;" ng-show="editedLayer.model.dataModel.curControl">
          <hr/>
          <div class="section" style="height: 400px; width: 100%;">
            <svg id="transfer-function-svg"></svg>
          </div>
        </div>
      </div>

      <div class="layers uibox" ng-show="elevationLoaded && !editedLayer">
        <h3 ng-click="showMapLayers=!showMapLayers">Map Layers</h3>
        <div ng-show="showMapLayers">
        <hr/>
        <div class="layer-container" ng-repeat="layer in map.baseLayers">
          <input id="bl{{$index}}" name="baseLayer" type="radio" checked-base-layer="layer"></input>
          <label for="bl{{$index}}">{{ layer.name }}</label><br/>
        </div>
        <hr/>
        <div class="layer-container"  ng-repeat="layer in map.layers">
          <input id="l{{$index}}" type="checkbox" checked-layer="layer" ng-model="layer.on" ng-disabled="layer.disabled"></input>
          <label for="l{{$index}}">{{ layer.name }}</label><br/>
        </div>
        </div>
      </div>

      <div class="layers uibox" style="right: 550px" ng-show="elevationLoaded && !editedLayer">
        <h3 ng-click="addSensor()">Add Sensor</h3>
        <div ng-show="addingSensor">
          <hr/>
          Click in the scenario box to add a sensor at that point.
          <hr/>
          <button ng-click="cancelAddingSensor()">Cancel</button>
        </div>
      </div>

      <div class="layers uibox" style="right: 280px" ng-show="elevationLoaded && !editedLayer">
        <h3 ng-click="showModels=!showModels">Models</h3>
        <div ng-show="showModels">
          <hr/>
          <div class="layer-container" ng-repeat="layer in map.dataLayers">
            <input id="dl{{$index}}" type="checkbox" checked-layer="layer" ng-model="layer.on" ng-disabled="layer.disabled"></input>
            <label for="dl{{$index}}">{{ layer.name }}</label>
            <br/>
            <div class="action-buttons">
              <button ng-show="layer.model.dataModel.editable"
                      ng-class="{'active-button':layer.editing}"
                      ng-click="editDataLayer(layer)">Edit</button>
              <button class="active-button"
                      ng-show="layer.model.dataModel.hasControls && layer.model.dataModel.isRunning"
                      ng-click="pauseSimulation(layer)">Pause</button>
              <button ng-show="layer.model.dataModel.hasControls && ! layer.model.dataModel.isRunning"
                      ng-click="startSimulation(layer)">Start</button>
              <button ng-show="layer.model.dataModel.hasControls"
                      ng-click="resetSimulation(layer)">Reset</button>
              <button class="active-button"
                      ng-show="layer.model.server.isRunning" 
                      ng-click="stopServingTiles(layer)">Unpublish</button>
              <button ng-show="! layer.model.server.isRunning" 
                      ng-click="serveTiles(layer)">Publish</button>
            </div>
            <br/>
          </div>
          <hr/>
          <div class="simulation">
            <a ng-click="showElevation=!showElevation" ng-show="elevationLoaded">
              <span ng-show="!showElevation">Show Raw Elevation</span>
              <span ng-show="showElevation">Hide Raw Elevation</span>
            </a>
            <br/>
            <a ng-click="showQuad=!showQuad" ng-show="elevationLoaded">
              <span ng-show="!showQuad">Show Quad</span>
              <span ng-show="showQuad">Hide Quad</span>
            </a>
            <br/>
            <a ng-click="toggleSlope()" ng-show="elevationLoaded && map.dataLayers[2].model.dataModel.patchHeights.data.length > 0">
              <span ng-show="!showSlope">Show Slopes</span>
              <span ng-show="showSlope">Hide Slopes</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
