<!-- note: no ng-app here. App is booted manually in Ecostem.js. It seems
     that when using ng-app with Traceur, Angular tries to boot before Traceur
     has had a chance to compile Ecostem.js -->
<html>
  <head>
    <title>Ecostem</title>

    <meta http-equiv="content-type" content="text/html; charset=UTF8">

    <link rel="stylesheet" type="text/css" href="lib/leaflet/leaflet.css"/>
    <link rel="stylesheet" type="text/css" href="css/ecostem.css"/>
    <link rel="stylesheet" type="text/css" href="css/svg.css"/>

    <!-- traceur compiler -->
    <script src="lib/traceur/traceur.js"></script>
    <!-- in-browser bootstrap for traceur -->
    <script src="lib/traceur/bootstrap.js"></script>

    <script src="https://cdn.firebase.com/js/client/1.0.2/firebase.js"></script>

    <script src="lib/agentscript.js"></script>
    <script src="lib/data.js"></script>
    <script src="lib/underscore.js"></script>
    <script src="lib/jquery-1.10.2.js"></script>
    <script src="lib/jquery.event.drag-2.2/jquery.event.drag-2.2.js"></script>
    <script src="lib/leaflet/leaflet-src.js"></script>
    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular/angular-route.js"></script>
    <script src="lib/d3.js"></script>
    <script src="lib/Smooth-0.1.7.js"></script>
    <script src="lib/curveFit.js"></script>
    <script src="lib/filer.js"></script>

    <script src="lib/Gradient.js"></script>
    <script src="lib/AnySurface.js"></script>

    <!-- ES6 app entrypoint -->
    <script type="module">
        import "./js/App";
    </script>
  </head>
  <body>
    <!-- init splash screen. The way this works could be a bit strange,
         because it shows up before any of the code gets compiled
         and before the angular application boots. -->
    <div class="splash" splash-screen>
      <div class="title">Ecostem</div>
      <!-- this shows up first -->
      <div class="subtitle">
        Loading Ecostem.<span class="loader">.</span>
      </div>
      <!-- when the app loads, this gets uncloked and occludes the
           Loading data... dialog -->
      <div class="subtitle" ng-cloak>
        Loading elevation data.<span class="loader">.</span>
      </div>
    </div>
    <div class="container" ng-controller="EcostemCtrl" main-container>
      <!-- div that blocks off the map so you can drag the mouse on it for drawing -->
      <div class="cover" ng-show="editedLayer && editedLayer.model.uiOpts.canPaint" drawing-surface></div>
      <!-- loading... popup -->
      <div class="uibox loading" ng-show="elevationIsLoading">Loading elevation data...</div>
      <!-- layer publishing popup -->
      <div class="uibox server-popup" ng-show="serverPopupIsOpen">
        Name: <input type="text" ng-model="serverLayerName"></input>
        <button ng-click="startServer()">Publish</button>
        <button ng-click="initStartServer()">Cancel</button>
      </div>
      <!-- map container -->
      <div id="map" map-body></div>
      <!-- elevation debugging canvas -->
      <div id="elevation" ng-show="showElevation">
        <canvas id="elevationCanvas" elevation-canvas/>
      </div>
      <!-- more debugging canvases -->
      <div id="quad" ng-show="showQuad">
        <canvas id="quadCanvas"/>
      </div>
      <div id="slope" ng-show="showSlope">
        <canvas id="slopeCanvas1"></canvas>
        <canvas id="slopeCanvas2"></canvas>
        <canvas id="slopeCanvas3"></canvas>
      </div>

      <!-- transfer function editor -->
      <div class="editor uibox" ng-show="activeTransferFunction">
        <div class="header">
          Editing {{activeTransferFunction.title}}
          <button style="float: right" ng-click="closeActiveTransferFunction()">Done Editing</button>
        </div>
        <div class="section" style="width: 100%;">
          <hr/>
          <div class="section" style="height: 400px; width: 100%;">
            <svg id="transfer-function-svg"></svg>
          </div>
        </div>
      </div>

      <!-- layer editor (Painting) -->
      <div class="editor uibox" ng-show="editedLayer">
        <div class="header">
          Editing {{editedLayer.name}}
          <button style="float: right" ng-click="doneEditingDataLayer()">Done Editing</button>
        </div>

        <div>
          <hr/>
          <div class="section">
            <h2>Choose a brush:</h2>
            <div ng-repeat="b in brushSizes"
                 ng-click="selectBrushSize(b)"
                 class="brush" ng-class="{'selected':selectedBrushSize==b}"
                 style="width: {{b}}; height: {{b}}; background-color: {{scaleValue.color}}"></div>
          </div>
          <div class="section">
            <h2>Choose a value:</h2>
            <select ng-model="scaleValue"
                    ng-options="v.name for v in scaleValues"
                    ng-change="scaleValueChanged()">
            </select>
          </div>
        </div>

        <!-- <div class="section" style="width: 100%"
             ng-show="editedLayer.name == 'Vegetation' && scaleValue.value.vegetation != 0">
          <hr/>
          <button ng-click="drawVegetation(scaleValue.value.vegetation)">Autofill {{scaleValue.name}}</button>
          <button ng-click="clearVegetation(scaleValue.value.vegetation)">Clear {{scaleValue.name}}</button>
        </div> -->
      </div>

      <!-- container for top navigation -->
      <div class="top-container" ng-show="elevationLoaded && !editedLayer && !activeTransferFunction">
        <!-- home button -->
        <div class="home uibox" ng-click="map.setHomeView()">
            <img src="img/home.png"/>
            <!--button ng-click="scanFlat()">Flat Scan</button><br/>
            <button ng-show="scanFlatDone" ng-click="scanMountain()">Mound Scan</button-->
        </div>

        <!-- layers menu -->
        <div class="layers uibox">
          <h3 ng-click="showMapLayers=!showMapLayers">Map Layers</h3>
          <div ng-show="showMapLayers">
            <hr/>
            <div class="layer-container" ng-repeat="layer in map.baseLayers">
              <input id="bl{{$index}}" name="baseLayer" type="radio" checked-base-layer="layer"></input>
              <label for="bl{{$index}}">{{ layer.name }}</label><br/>
            </div>
            <hr/>
            <div class="layer-container"  ng-repeat="layer in map.layers">
              <input id="l{{$index}}" type="checkbox" checked-layer="layer" ng-model="layer.on" ng-disabled="layer.disabled"></input>
              <label for="l{{$index}}">{{ layer.name }}</label><br/>
            </div>
          </div>
        </div>

        <!-- Sensors menu -->
        <div class="layers uibox">
          <h3 ng-click="addSensor()">Add Sensor</h3>
          <div ng-show="addingSensor" style="padding-bottom: 5px">
            <hr/>
            Click in the scenario box to add a sensor at that point.
            <hr/>
            <button ng-click="cancelAddingSensor()">Cancel</button>
          </div>
        </div>

        <!-- Models menu -->
        <div class="layers uibox">
          <h3 ng-click="showModels=!showModels">Models</h3>
          <div ng-show="showModels">
            <hr/>
            <div class="layer-container" ng-repeat="layer in map.modelLayers">
              <input id="dl{{$index}}" type="checkbox" checked-layer="layer" ng-model="layer.on" ng-disabled="layer.disabled"></input>
              <label for="dl{{$index}}">{{ layer.name }}</label>
              <br/>
              <div class="action-buttons">
                <button ng-show="layer.model.uiOpts.canPaint"
                        ng-class="{'active-button':layer.editing}"
                        ng-click="editDataLayer(layer)"><img src="img/icons/pencil.png"/> Paint</button>
                <button class="active-button"
                        ng-show="layer.model.server.isRunning"
                        ng-click="stopServingTiles(layer)"><img src="img/icons/share.png"/> Unpublish</button>
                <button ng-show="! layer.model.server.isRunning"
                        ng-click="serveTiles(layer)"><img src="img/icons/share.png"/> Publish</button>
              </div>
              <br/>
            </div>
            <hr/>
            <div class="simulation">
              <a ng-click="showElevation=!showElevation" ng-show="elevationLoaded">
                <span ng-show="!showElevation">Show Raw Elevation</span>
                <span ng-show="showElevation">Hide Raw Elevation</span>
              </a>
              <br/>
              <a ng-click="showQuad=!showQuad" ng-show="elevationLoaded">
                <span ng-show="!showQuad">Show Quad</span>
                <span ng-show="showQuad">Hide Quad</span>
              </a>
              <br/>
              <a ng-click="toggleSlope()" ng-show="elevationLoaded && map.modelLayers[2].model.dataModel.patchHeights.data.length > 0">
                <span ng-show="!showSlope">Show Slopes</span>
                <span ng-show="showSlope">Hide Slopes</span>
              </a>
            </div>
          </div>
        </div>

        <!-- transfer functions menu -->
        <div class="layers uibox">
          <h3 ng-click="toggleTransferFunctions()">Transfer Functions</h3>
          <div ng-show="showTransferFunctions">
            <hr/>
            <div class="tf-title" ng-repeat="tf in transferFunctions" ng-click="setActiveTransferFunction(tf)">
              {{ tf.title }}
            </div>
          </div>
        </div>
      </div>

      <div class="play-controls" ng-show="elevationLoaded">
        <div class="uibox time">{{map.animator.hours | timeformat}} : {{map.animator.minutes | timeformat}}</div>
        <div class="controls">
          <img ng-show="!map.animator.isRunning" ng-click="map.animator.start()" src="img/play.png"/>
          <img ng-show="map.animator.isRunning" ng-click="map.animator.stop()" src="img/pause.png"/>
          <img ng-show="!map.animator.isRunning" ng-click="map.animator.step()" src="img/play1.png"/>
          <img ng-click="map.animator.reset()" src="img/stop.png"/>
        </div>
      </div>
    </div>
  </body>
</html>
