@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?15exb4');
	src:url('fonts/icomoon.eot?#iefix15exb4') format('embedded-opentype'),
		url('fonts/icomoon.woff?15exb4') format('woff'),
		url('fonts/icomoon.ttf?15exb4') format('truetype'),
		url('fonts/icomoon.svg?15exb4#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-mountain:before {
	content: "\e608";
}
.icon-erosion:before {
	content: "\e609";
}
.icon-triangle-right:before {
	content: "\e603";
}
.icon-triangle-left:before {
	content: "\e604";
}
.icon-brush:before {
	content: "\e602";
}
.icon-leaf:before {
	content: "\e605";
}
.icon-droplet:before {
	content: "\e606";
}
.icon-arrow-left:before {
	content: "\e600";
}
.icon-arrow-right:before {
	content: "\e601";
}
.icon-check:before {
	content: "\e116";
}
.icon-fire:before {
	content: "\e607";
}
